.form-control {
    display: inline-block;
    width: 250px;
    margin-top: 20px;
  }
  
  .container-fluid {
    background-color: rgb(247, 114, 37);
    margin-right: 30px;
    margin-left: 30px;
  }
  
  #sizing {
    width: 110%;
    margin-left: -60px;
  }
  
  body {
    background: rgb(108, 151, 190)
  }
  
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  